<app-header></app-header>
<div class="container" style="margin-top: 6rem;">
    <div class="row">
        <div class="col-md-2">
            <div class="image-block">
                <div class="company-logo">
                    <picture>
                        <img src="https://media.jobthai.com/v1/images/logo/243218_logo_201903141507.jpeg?type=webp" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="col-9">
            <h2 class="igkk">
                <a href="">testassdk dsadk</a>
            </h2>
        </div>
    </div>
</div>