<app-header></app-header>
<div class="container">
    <div class="marr">
      <div class="login-form mb-md-5 mt-md-4 shadoww">
        <h2 class="fw-bold text-uppercase" style="margin-top: 1rem;">Change Password</h2>
        <br>
        <div class="form-outline form-white mb-4">
          <label for="typeEmailX">NewPassword</label>
          <input [(ngModel)]="resetPassword" type="password" id="typeEmailX"
            class="form-control form-control-lg" />
        </div>
        <div class="form-outline form-white mb-4">
            <label for="typeEmailX">ConfirmPassword</label>
            <input [(ngModel)]="confirmPassword" type="password" id="typeEmailX"
              class="form-control form-control-lg" />
          </div>
        <button class="btn btn-web" style="width: 100%;" type="submit" (click)="onClick()">ChangePassword</button>
      </div>
    </div>
  </div>