<app-header></app-header>
    <div class="profile">
        <header style="margin-bottom: 2rem;">
            <h2 style="font-size: 3.5rem;">โปรไฟล์</h2>
        </header>
        <div class="row">
            <div class="col-md-6 col-sm-12 profile-left">
                <div class="div-image">
                <img src="{{picture}}" alt="" style="margin-bottom: 1rem;">
                </div>
                <label for="formFile" class="form-label">อัพโหลดรูปภาพ</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <div class="col-md-6 col-sm-12 profile-right">
                <label for="formFile" class="form-label">Email</label>
                <input class="form-control mar-bottom" type="text" [(ngModel)]="email">
                <label for="formFile" class="form-label">ชื่อ</label>
                <input class="form-control mar-bottom" type="text" [(ngModel)]="firstname">
                <label for="formFile" class="form-label">นามสกุล</label>
                <input class="form-control mar-bottom" type="text" [(ngModel)]="lastname">
                <label for="formFile" class="form-label">เบอร์โทรศัพท์</label>
                <input class="form-control mar-bottom" type="text" [(ngModel)]="phone">
                <label for="formFile" class="form-label">บริษัท</label>
                <input class="form-control mar-bottom" type="text" [(ngModel)]="companyName">
                
            </div>
        </div>
    </div>