input,h2,label{
    font-family: 'Kanit', sans-serif;
}

.profile{
    padding: 20px;
    max-width: 800px;
    /* margin: auto; */
    position: relative;
    border-radius: 2%;
    /* margin-top: 8rem; */
}

.btn-webb{
    width: 50% !important;
    color:#ffffff;
    background-color: #2e6edf;
}

.btn-webb:hover{
    color: #ffffff;
    background-color: #2655a8;
    /* border: 2px solid #444444; */

}

.verify{
    text-decoration: none;
    background-color: #ffc107;
    padding: 2px;
    border-radius: 0.25rem;
    border: 1px solid #ffc107;
    color: #fff;
    width: 100px;
    margin-left: 0.5rem;
}

.verify:hover{
    background-color: #cc9a03;
    border: 1px solid #cc9a03;
}

.verified{
    cursor: default;
    text-decoration: none;
    background-color: #198754;
    padding: 2px;
    border-radius: 0.25rem;
    border: 1px solid #198754;
    color: #fff;
    width: 100px;
    margin-left: 0.5rem;
}

.sent-email{
    font-size: 0.8rem;
    margin-left: 0.7rem;color: #198754;
    text-shadow: 0 0 0.2em #198754;
}

.topp{
    margin-top: 12rem;
}

.shadoww{
    box-shadow: 0px 4px 10px 0 rgba(61, 61, 61, 0.2);
}

.shadoww:hover{
    box-shadow: 0px 4px 50px 0 rgba(61, 61, 61, 0.2);
}

.profile-left{
    padding-right: 10%;
}
.profile-right{
    padding-left: 10%;
}

.mar-bottom{
    margin-bottom: 0.5rem;
}

.img-icon{
    width: 90%;
    position: relative;
    /* z-index: 1; */
    left: 5px;
    bottom: -55px;
}

.post-top{
    background-color: white;
}

.div-image{
    /* margin-top: 2rem; */
    text-align: center;
}

.img-profile{
    /* float:left; */
    width:60%;
    /* height:100%; */
    /* width: 200px; */
    max-height: 200px;
    /* object-fit: scale-down; */
    border-radius: 2%;
    
}

@media(max-width: 900px){
    .col-sm-12{
    padding: 10px;
    }
    .img-profile{
        width: 100%;
        margin: auto;
    }

    .topp{
        margin-top: 8rem;
    }

    /* .img-icon{
        display: none;
        margin-top: 5rem;
        width: 80%;
        position: relative;
        z-index: 1;
        left: 5px;
        bottom: 0px;
    } */
    
    .hide{
        display: none;
    }
}