button{
    font-family: 'Kanit', sans-serif;
}

img{
    width: 17%;
}

h1{
    color: darkorange;
    font-size: 4rem;
}

.text-deco{
    text-decoration: none;
}

.text-body{
    text-align: center;
}

.img-icon{
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.login-form{
    margin: auto;
    width: 400px;
    padding: 20px;
    border-radius: 2%;
    /* background-color: #359b5c; */
    /* color: #D4ECDD; */
}

.shadoww{
    box-shadow: 0px 4px 10px 0 rgba(61, 61, 61, 0.2);
}

.shadoww:hover{
    box-shadow: 0px 4px 50px 0 rgba(61, 61, 61, 0.2);
}

.marr{
    margin-top: 12rem;
}

.tap-signin{
    background-color: #74747457;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 300px;
    min-width: 300px;
    margin: auto;
}

label{
    color: #555555;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
}


.a-login{
    text-decoration: none;
    color: #185ADB;
    font-family: 'Kanit', sans-serif;
}

.a-login:hover{
    text-decoration: none;
    color: #ffffff;
}

.a-login2{
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    color: #185ADB;
}

.btn2 {
    background-color: #50e98b;
    color: #112031;
    /* border: 2px solid #000000; */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    outline: none;
    z-index: 1;
}

.btn2:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: #359b5c;
}

@media (max-width:950px) {

    .login-form{
    width: 100%;
    margin: auto;
    padding: 20px;
    }

    .tap-signin{
        width: 40%;
    }
    
}