.bg-web{
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)) !important;
}

.shadoww{
    box-shadow: 0px 4px 10px 0 rgba(61, 61, 61, 0.2);
}

.shadoww:hover{
    box-shadow: 0px 4px 50px 0 rgba(61, 61, 61, 0.2);
}

a{
    margin-top: 0.5rem;
}

.nav-link:hover {
    color: #fff !important;
    background-color: #2655a8 !important
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}

.side-web{
    width: 100%;
    border-radius: 10px;
}

.active{
    background-color: #2e6edf !important;
}

@media (max-width:1200px){
    .side-web{
        width: auto;
    }
    
}