/* You can add global styles to this file, and also import other style files */
.btn-web{
    color:#112031;
    background-color: #D4ECDD;
    /* border: 1px solid #345B63; */
}

.btn-web:hover{
    color: #D4ECDD;
    background-color: #112031;
    /* border: 2px solid #444444; */

}