/* You can add global styles to this file, and also import other style files */
.btn-web{
    color:#ffffff;
    padding: 10px 20px;
    background-color: #2e6edf;
    /* border: 1px solid #345B63; */
}

.btn-web:hover{
    color: #ffffff;
    background-color: #2655a8;
    /* border: 2px solid #444444; */

}

* {   font-family: 'Kanit', sans-serif; }

@media (max-width:600px){
    
}